/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
body {
    font-family: sans-serif;
}
img {
    display: block;
    max-width: 100%;
    height: 624px;
}

/* Utils */

.container {
    max-width: 1400px;
    margin: 0 auto;
}
.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.col {
    flex-basis: calc(100% / 3 -20px);
}