/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
body {
    font-family: sans-serif;
}
img {
    display: block;
    max-width: 100%;
    height: 624px;
}
.secondary-pic {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Utils */

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.col {
    flex-basis: calc(100% / 3 -20px);
}
.card{
    position: relative;
}
.discount {
    color: white;
    padding: 5px 3px;
    font-weight: bold;
    background-color: red;
    position: absolute;
    top:556px;
    left: 0;
    z-index: 2;
}
.sustainability{
    color: white;
    padding: 5px 3px;
    font-weight: bold;
    background-color: green;
    position: absolute;
    top:556px;
    left: 50px;
    z-index: 2;
}
.favourite {
    color: black;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 2;
}
.favourite:hover {
    color: red;
}
.brand {
    font-size: 0.8rem;
}
.price {
    text-decoration: line-through;
}
.original-price {
    color: red;
}
.card:hover .secondary-pic{
    display: inline-block;
}